<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="banner" class="banner container rounded">
	<div class="row">
		<div class="col-7">
			<h1 class="display-4 fw-bold">Java Coding Academy</h1>
			<blockquote class="blockquote">
				<p class="mb-0">
					" Whether you come back by page or by the big screen, Coding
					Academy will always be there to welcome you home " <span
						style="font-style: italic;"> - School of Hogwarts </span>
				</p>
			</blockquote>
		</div>
		<div class="col-sm-5">
			<img class="img-fluid" src="http://localhost:8888/images/java.png"
				alt="">
		</div>
	</div>
</div>
</html>