<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<footer th:fragment="footer" class="col-12 " style="padding-top: 1.2%;">
		<p class="h4 footer-content  text-left">Student Academy Portal</p>
		<p class="h5 footer-content text-left text-muted">
			Proudly developed by <em>JiaWei Tchea</em> <span
				class="h5 text-muted offset-6 ">Connect with me on Github
				&nbsp; <a href="https://github.com/MasqueCrow"> <i
					class="fa-brands footer-content fa-github"></i>
			</a>
			</span>
		</p>
	</footer>
</body>
</html>